doctype html
html(lang="en")
  head
    title= pageTitle
  body
    h1= name + " example"
    div
        p= name
        p= text
      p.
        This is a simple example showing how to render jade templates in spirit